.header-mobile {
  display: none;
}
.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: var(--clr-gray);
  padding: 0.2rem;
  border-radius: 6px;
  color: var(--clr-main);
}
.carrito-producto img {
  height: 50px;
  border-radius: 6px;
}
.carrito-acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.carrito-acciones button {
  background-color: var(--clr-gray);
  color: var(--clr-main);
  border: 0px;
  padding: 0.5rem;
  border-radius: 6px;
}
.carrito-acciones-derecha {
  display: flex;
}
.carrito-acciones-total {
  display: flex;
  align-items: center;
}
.carrito-acciones-derecha p {
  padding: 0.5rem;
  background-color: var(--clr-gray);
}
.carrito-acciones-derecha p:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.carrito-acciones-derecha .carrito-acciones-comprar {
  background-color: var(--clr-main);
  color: var(--clr-white);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px;
}
/* Aside */
.menu li a.active {
  background-color: var(--clr-white);
  color: var(--clr-main);
}

/* Media queries */

/* Para pantallas de 1300px o menos */
@media screen and (max-width: 1300px) {
  .menu li > * {
    padding: 2rem 0rem;
  }
}
/* Para pantallas de 850px o menos */
@media screen and (max-width: 850px) {
  aside {
    padding: 0rem;
  }
}
