@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /*Variables de colores*/
    --clr-main: #45880e;
    --clr-main-light: #73ff00;
    --clr-white: #fff7e5;
    --clr-gray: #e2e2e2;
    --clr-green: #316b0a;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    /* Valor por defecto */
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.texto-footer{
    color: var(--clr-main-light);
    font-size: .85rem;
}

/**/

body{
    background-color: var(--clr-main);
}

/* Común en carrito y main */

/* Main */
.contenedor{
    min-height: calc(100vh - 1rem);
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
main{
    background-color: var(--clr-white);
    border-radius: 6px;
    padding: 1rem;
}
main h2.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem ;
}
/* Aside */
aside{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 1rem;
    height:calc(100vh - 2rem);
    z-index: 10;
}
aside > button{
    display: none;
}
aside header{
    flex-grow: 0.01;
    top: 0px;
    color: var(--clr-white);
}
aside nav{
    flex-grow: 0.98;
    width: 100%;
    display: flex;
    align-items: center;
}
.menu{
    width: 100%;
}
.menu li > *{
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: 0px;
    padding: 2rem;
    width: 100%;
    text-align: left;
    border-radius: 6px;
    display: block;
    margin: 2rem 0rem;
}
.menu li a .numerito{
    color: var(--clr-white);
    background-color: var(--clr-main);
}
.menu li button:hover{
    background-color: var(--clr-white);
    color: var(--clr-main);
}
aside footer{
    flex-grow: 0.01;
    margin: 0 auto 0 0;
}